body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #7b2ff7, #a84cff);

  font-family: sans-serif;
}

.container {
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 20px;
}
